/*
  ____            _       ____  _                       
 | __ ) _ __ __ _(_)_ __ / ___|| |_ ___  _ __ _ __ ___  
 |  _ \| '__/ _` | | '_ \\___ \| __/ _ \| '__| '_ ` _ \ 
 | |_) | | | (_| | | | | |___) | || (_) | |  | | | | | |
 |____/|_|  \__,_|_|_| |_|____/ \__\___/|_|  |_| |_| |_|
                                                        

*/
body {
    background-image: url('../img/old.jpg');
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100% !important;
}

img {
  border-radius: 50%;
  border:5px solid #ff0000;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite; float 6s ease-in-out infinite;
}

p, a {
    color: white !important;
}

.btn {
    text-decoration: none !important;
    color: black !important;
}

.title {
    background-color: none !important;
}

.yeet {
    display: none;
}

@media only screen and (min-width: 720px) {
    .container {
        height: auto;
        width: 50%;
    }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

::selection {
    background: #FFFFFF;
}
